.table-container {
  display: flex;
  justify-content: center;
}

.custom-table {
  width: 75%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
}

.custom-table th,
.custom-table td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 6px;
}

.custom-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.custom-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.custom-table tr:hover {
  background-color: #e1f5fe;
}

.flag-img {
  width: 40px;
  height: 25px;
}
